*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.center{
  display: flex;
  justify-content: center;
    align-items: center;
    margin:auto;
    
}
.bc{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header{
    width: 90%;
    height: 800px;
    
    

    margin-top: 30px;
    background-image:
    linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("Banner-image.png");
  
  color:white;
  border-radius: 20px;
text-align: center;
}
.header__content{
  font-size: 70px; 
}
.discount{
  padding: 2rem 0;
  flex-direction: column;
}
.discount__off{
  color: red;
  font-size: 90px;
  padding: 3rem 0;
}
.discount p{
  color: red;
  font-size: 25px;
  padding:1rem;
}
.discount h2{
  padding-bottom: 3rem;
  font-size: 47px;
}
.midnight{
  width: 90%;
  height: 600px;
  border-radius: 20px;
  background-image:linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("Vectorrr.png") ;
   
    justify-content: space-around;
    color:white;

}
.midnight__content{
  width: 52%;
  font-size: 35px;
}
.midnight__btn{
  background-color:white;
  font-size: 25px;
  padding: .6rem 1rem;
  border-radius: 10px;
}
.midnight__content p{
  font-size: 25px;
  color:darkgrey;
  text-align: justify;
}
.join{
  flex-direction: column;
  padding: 4rem 0;
  font-size: 40px;
}
span{
  color:red;
}

.btn{
  padding-bottom: 4rem;
}
.join__btn{
  padding: 0.6rem 1rem;
  font-size: 25px;
  border-radius: 10px;
  background-color: red;
}
.comming{
  padding: 4rem 0rem;
  width: 100%;
  justify-content: space-around;
}
.comming__one , .comming__three{
  width: 30%;
  text-align: justify;
  font-size: 25px;
}
.comming__two{
  padding: 1rem;
  border:1rem solid red;
  border-radius: 50%;
}