*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.center{
  display: flex;
  justify-content: center;
    align-items: center;
    margin:auto;
    
}
.bc{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header{
    width: 90%;
    height: 800px;
    
    

    margin-top: 30px;
    background-image: radial-gradient(
      ellipse at top, 
      rgba(0, 0, 0, 0.824) 0%, 
      rgba(0,0,0,0.7) 20%,
      rgba(0,0,0,0.1) 100% 
    ), url("Banner-image.png");  
  color:white;
  border-radius: 20px;
text-align: center;
}
.header__content{
  padding-top:4rem;
  font-size: 70px; 
  text-shadow: 4px 4px 2px black;
}
.discount{
  padding: 4rem 0;
  flex-direction: column;
}
.discount__off{
  color: red;
  font-size: 90px;
  padding: 1rem 0;
}
.discount p{
  color: red;
  font-size: 25px;
  padding:1rem;
}
.discount h2{
  padding-bottom: 3rem;
  font-size: 47px;
}
.midnight{
  padding: 4rem 0;
  width: 90%;
  height: 600px;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0,0,0,0)), 
    url("Vectorrr.png") ;
    justify-content: space-around;
    color:white;
    margin-bottom: 5rem;

}
.midnight__content{
  width: 52%;
  font-size: 35px;
}
.midnight__btn{
  background-color:white;
  font-size: 25px;
  padding: .6rem 1rem;
  border-radius: 10px;
  transition: 0.3s;
}
.midnight__btn:hover{
  background-color: red;
  transform: scale(1.2);
}
.midnight__content p{
  font-size: 25px;
  color:darkgrey;
  text-align: justify;
}
.join{
   background:linear-gradient(
      rgb(223, 168, 213),
      rgba(255, 250, 254, 0.277)
    );
    width: 90%;
  
    border-radius: 20px;
  flex-direction: column;
  padding: 4rem 0;
  font-size: 40px;
  margin:auto;
}
span{
  color:red;
}

.btn{
  padding-bottom: 4rem;
}
.join__btn{
  padding: 0.6rem 1rem;
  font-size: 25px;
  border-radius: 10px;
  background-color: red;
  transition: 0.3s;
}
.join__btn:hover{
  background-color: darkred;
  transform: scale(1.2);
}
.comming{
  margin-top: 5rem;
  padding: 4rem 0rem;
  width: 100%;
  justify-content: space-around;
}
.comming__one , .comming__three{
  width: 25%;
  text-align: justify;
  font-size: 25px;
}
.section__pic--2{
  text-align: center;
  padding: 1rem 0;
}
.comming__two{
  padding: 1rem;
  border:1rem solid red;
  border-radius: 40%;
}
.holiday{
  flex-direction: column;
  text-align: center;
  padding: 4rem 0;
 
}
.holiday h5{
  padding: 1rem 0;
  font-size: 25px;
}
.holiday h1{
  font-size: 100px;
  padding-bottom: 1.5rem; 
}
.holiday p{
  font-size: 23px;
}
.triopic{
  padding-top: 4rem;

  width: 100%;
  height: 700px;
 text-align: center;
  position: relative;
}
.pic__one{
position:absolute;
right: 10%;
top: 15%;
}
.pic__two{
  position: absolute;
  left:10%;
  bottom:4%;
}
.pic__three{
  
 position: absolute;
  bottom:0;
  left: 50%;

  transform: translate(-50%);
}
.pic__three img{
  width: 1700px;
  height: 250px;
}
.grid{
  width: 100%;
  padding: 4rem 0;
  flex-direction: column;
  
}
.grid__content{
  margin: auto;
  width: 90%; 
display: flex;
flex-direction: column;
justify-content: center;
align-self: start;
padding:2rem;
}
.grid__content h5{
  color:red;
  font-size: 25px;
}
.grid__content p{
  font-size: 20px;
}
.grid__content h2{
  font-size: 60px;
  padding: 1rem 0;
}
.grid__image{
  width: 100%;
 text-align: center;
}
.figure{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:2rem;
}
.form{
  padding:3rem 0;
  width: 90%;
   background:linear-gradient(
      rgb(232, 201, 225),
      rgba(190, 184, 189, 0)
    );
    border-radius: 20px;
  flex-direction: column;
  text-align: center;
}
.form__image{
  padding: 4rem 0;
}
.form h2{
  padding:2rem 0;
  font-size: 55px;
}
.form p{
  width: 80%;
  font-size: 30px;
  margin:auto;
}
form{
  padding-bottom: 6rem;
}
.form__email {
  display: flex;
  width: 450px;
  margin: 2rem auto;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form__email input {
 flex:1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 50px 0 0 50px; 
}

.form__btn {
  padding: 15px 25px;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 50px 50px 0; 
  transition: background-color 0.3s;
}
.form__btn:hover{
  background-color: darkred;
  color:yellow;
}
::placeholder {
  color: #ccc;
}
footer{
  background-color: black;
  padding:4rem;
  color: white;
  margin-top: 5rem;
}
.footer__one,.footer__last{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding:2rem 0 ;
  font-size: 25px;
}
.footer__logo{
  padding: 3rem 0;
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center; 
}
 

