*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.center{
  display: flex;
  justify-content: center;
    align-items: center;
    margin:auto;
    
}
.bc{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header{
    width: 90%;
    height: 800px;
    
    

    margin-top: 30px;
    background-image:
    linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("Banner-image.png");
  
  color:white;
  border-radius: 20px;
text-align: center;
}
.header__content{
  font-size: 70px; 
}
.discount{
  padding: 2rem 0;
  flex-direction: column;
}
.discount__off{
  color: red;
  font-size: 90px;
  padding: 3rem 0;
}
.discount p{
  color: red;
  font-size: 25px;
  padding:1rem;
}
.discount h2{
  padding-bottom: 3rem;
  font-size: 47px;
}
.midnight{
  width: 90%;
  height: 600px;
  border-radius: 20px;
  background-image:linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("Vectorrr.png") ;
   
    justify-content: space-around;
    color:white;

}
.midnight__content{
  width: 52%;
  font-size: 35px;
}
.midnight__btn{
  background-color:white;
  font-size: 25px;
  padding: .6rem 1rem;
  border-radius: 10px;
}
.midnight__content p{
  font-size: 25px;
  color:darkgrey;
  text-align: justify;
}
.join{
  flex-direction: column;
  padding: 4rem 0;
  font-size: 40px;
}
span{
  color:red;
}

.btn{
  padding-bottom: 4rem;
}
.join__btn{
  padding: 0.6rem 1rem;
  font-size: 25px;
  border-radius: 10px;
  background-color: red;
}
.comming{
  padding: 4rem 0rem;
  width: 100%;
  justify-content: space-around;
}
.comming__one , .comming__three{
  width: 25%;
  text-align: justify;
  font-size: 25px;
}
.section__pic--2{
  text-align: center;
  padding: 1rem 0;
}
.comming__two{
  padding: 1rem;
  border:1rem solid red;
  border-radius: 40%;
}
.holiday{
  flex-direction: column;
  text-align: center;
  padding: 4rem 0;
 
}
.holiday h5{
  padding: 1rem 0;
  font-size: 25px;
}
.holiday h1{
  font-size: 100px;
  padding-bottom: 1.5rem; 
}
.holiday p{
  font-size: 23px;
}
.triopic{
  padding-top: 4rem;

  width: 100%;
  height: 700px;
 text-align: center;
  position: relative;
}
.pic__one{
position:absolute;
right: 10%;
top: 15%;

}
.pic__two{
  position: absolute;
  left:10%;
  bottom:4%;
}
.pic__three{
  
 position: absolute;
  bottom:0;
  left: 50%;

  transform: translate(-50%);
}
.pic__three img{
  width: 1700px;
  height: 250px;
}
.grid{
  width: 100%;
  padding: 4rem 0;
  flex-direction: column;
  
}
.grid__content{
  margin: auto;
  width: 90%;
 
display: flex;
flex-direction: column;
justify-content: center;
align-self: start;
padding:2rem;
}
.grid__content h5{
  color:red;
  font-size: 25px;
}
.grid__content p{
  font-size: 20px;
}
.grid__content h2{
  font-size: 60px;
  padding: 1rem 0;
}
.grid__image{
  width: 100%;
 text-align: center;
}
.figure{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:2rem;
}
.form{
  background-color: lightcoral;
  flex-direction: column;
  text-align: center;
}
.form__image{
  padding: 4rem 0;
}
.form h2{
  padding:2rem 0;
  font-size: 55px;
}
.form p{
  width: 80%;
  font-size: 30px;
  margin:auto;
}
form{
  padding-bottom: 6rem;
}
input{
  font-size: 30px;
  border-radius: 30px;
}
footer{
  background-color: black;
  padding:4rem;
  color: white;
}
.footer__one,.footer__last{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding:2rem 0 ;
  font-size: 25px;
}
.footer__logo{
  text-align: center;
  padding: 2rem 0;

}
 

